{% extends "model_a/base.html" %}
{% load static %}

{% block title %}BackTest{% endblock %}

{% block content %}
<main role="main">
  <br/>
  <div class="container row">
    <br/>
    <div class="input-field col s4">
      <select id="select-model" onchange="load_data();" size="4">
        <option value="" disabed selected>Choose model</option>
        {% for model in models %}
				<option value={{ model.name }} {{ model.selected }}>{{ model.display }}</option>
        {% endfor %}
      </select>
      <label>Select Model</label>
    </div>
    <div class="input-field col s4">
      <input id='start-date' type="text" class="datepicker" />
      <label>Select start date</label>
    </div>
    <div class="input-field col s4">
      <input id='end-date' type="text" class="datepicker" />
      <label>Select end date</label>
    </div>
  </div>
  <div class="container">
    <div>
      <ul class="collapsible popout">
        <li id='li-returns' class="active">
          <div class="collapsible-header grey lighten-4"><i class='material-icons'>show_chart</i>수익률</div>
					<div class="collapsible-body"><div id="graph-returns"></div></div>
        </li>
        <li id='li-weights'>
          <div class="collapsible-header grey lighten-4"><i class='material-icons'>pie_chart</i>보유비중</div>
					<div class="collapsible-body"><div id="graph-weights"></div></div>
        </li>
        <li id='li-revenue-rank'>
          <div class="collapsible-header grey lighten-4"><i class='material-icons'>monetization_on</i>실현수익(상위10/하위10)</div>
					<div class="collapsible-body"><div id="graph-revenue-rank"></div></div>
        </li>
        <li id='li-single-stock'>
          <div class="collapsible-header grey lighten-4"><i class='material-icons'>multiline_chart</i>보유량/종가/실현수익</div>
					<div class="collapsible-body"><div id="graph-single-stock"></div></div>
        </li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}

{% block script %}

<script>

var graphReturns = document.getElementById('graph-returns');
var graphWeights = document.getElementById('graph-weights');
var graphRevenueRank = document.getElementById('graph-revenue-rank');
var graphSingleStock = document.getElementById('graph-single-stock');

function load_weights(params, selectedDate) {
	// var params = { "model": model, "selected_date": selectedDate }
	params.selected_date = selectedDate.replace(/-/gi, '/')
	$.ajax({
    url: "{% url 'model_a:api_backtest_weights' %}",
		type: 'GET',
		data: params,
		success: function (res) {
			var res = JSON.parse(res);
			var texts = res.weights.map(function (w, i) {
				if (w > 0.02)
					return (w * 100).toFixed(2) + '%, ' + res.universe[i]
				return ''
			});

			var trace = { labels: res.universe,
										values: res.weights,
										type: 'pie',
										text: texts,
										textinfo: 'text',
										hoverinfo: 'label+percent+name'};
			var data = [trace];

			var layout = {
				margin: { l: 40, r: 40, b: 20, t: 60 },
				title: params.selected_date
			};

			$('.collapsible').collapsible('open', 1)
			Plotly.newPlot(graphWeights, data, layout);
		},
		error: function (jqXHR, textStatus, errorThrown) {
			console.log("load_weights: FAIL. " + textStatus + " : " + errorThrown);
		}
	});
}

function load_price_volume(params, selectedTicker) {
	params.ticker = selectedTicker.slice(0, 6)

	$.ajax({
    url: "{% url 'model_a:api_backtest_price_volume' %}",
		type: 'GET',
		data: params,
		success: function (res) {
			var res = JSON.parse(res);
			res.dates = res.dates.map(function (currentValue) { return new Date(currentValue); })

			// graph data
			var trace1 = { x: res.dates, y: res.holding, type: 'scatter', name: '보유수량' }
			var trace2 = { x: res.dates, y: res.weights, type: 'scatter', name: '보유비중', yaxis: 'y2' }
			var trace3 = { x: res.dates, y: res.close, type: 'scatter', name: '종가', yaxis: 'y3' }
			var trace4 = { x: res.dates, y: res.accumulated_revenue, type: 'scatter', name: '실현수익', yaxis: 'y4' }
			var data = [trace1, trace2, trace3, trace4];

			// graph layout
			var layout = {
				title: selectedTicker,
				autosize: true,
				height: 240,
				margin: { l: 40, r: 40, b: 20, t: 40 },
				xaxis: { domain: [0.075, 0.9] },
				yaxis1: { title: '보유수량(주)' },
				yaxis2: { title: '보유비중', overlaying: 'y', side: 'left', anchor: 'free', position: 0.0 },
				yaxis3: { title: '종가(원)', overlaying: 'y', side: 'right' },
				yaxis4: { title: '실현수익(원)', overlaying: 'y', anchor: 'free', side: 'right', position: 0.97 },
			};

			// plot graph
			$('.collapsible').collapsible('open', 3)
			Plotly.newPlot(graphSingleStock, data, layout);
		},
		error: function (jqXHR, textStatus, errorThrown) {
			console.log(textStatus + " : " + errorThrown);
		}
	});
}

function load_revenue_rank(params) {
	$.ajax({
    url: "{% url 'model_a:api_backtest_revenue_rank' %}",
		type: 'GET',
		data: params,
		success: function (res) {
			var res = JSON.parse(res);

			// graph data
      var colors = Array(20).fill('rgb(222,45,38)', 0, 10).fill('rgb(45,38,222)', 10, 20)
			var trace = { x: res.labels, y: res.revenues, type: 'bar', marker: { color: colors } }
			var data = [trace];

			// graph layout
			var layout = {
				autosize: true,
				height: 240,
				margin: { l: 40, r: 120, b: 120, t: 20 }
			};

			// plot graph
			Plotly.newPlot(graphRevenueRank, data, layout);
			graphRevenueRank.on('plotly_click', function (data) {
				load_price_volume(params, data.points[0].x);
			});
		},
		error: function (jqXHR, textStatus, errorThrown) {
			console.log(textStatus + " : " + errorThrown);
		}
	});
}

function load_returns(params) {
	// load data from server
	$.ajax({
    url: "{% url 'model_a:api_backtest_returns' %}",
		type: 'GET',
		data: params,
		success: function (res) {
			var res = JSON.parse(res);

			res.dates = res.dates.map(function (currentValue) { return new Date(currentValue); })

			// graph data
			var trace1 = { x: res.dates, y: res.returns, type: 'scatter', name: 'Back Test' }
			var trace2 = { x: res.dates, y: res.returns_bnh, type: 'scatter', name: 'Buy & Hold' }
			var trace3 = { x: res.dates, y: res.returns_kospi, type: 'scatter', name: 'KOSPI' }
			var trace4 = { x: res.dates, y: res.volumes, type: 'bar', name: '거래량', xaxis: 'x2', yaxis: 'y2' }
			var trace5 = { x: res.dates, y: res.max_weights, type: 'scatter', name: '단일종목 최대보유비중', xaxis: 'x2', yaxis: 'y2' }
			var data = [trace1, trace2, trace3, trace4, trace5];

			// graph layout
			var layout = {
				title: '기간: ' + params.start_date + ' ~ ' + params.end_date,
				autosize: true,
				height: 360,
				margin: { l: 40, r: 40, b: 20, t: 40 },
				yaxis: {domain: [0.366, 1.0]},
				yaxis2: {overlaying: 'y2', side: 'left', domain: [0, 0.266]},
				xaxis2: {anchor: 'y2'},
				legend: { orientation: 'h' }
			};

			// plot graph
			Plotly.newPlot(graphReturns, data, layout);
			graphReturns.on('plotly_click', function (data) {
				load_weights(params, data.points[0].x);
			});
		},
		error: function (jqXHR, textStatus, errorThrown) {
			console.log(textStatus + " : " + errorThrown);
		}
	});
}

function load_data() {
	var model = $("#select-model option:selected").val();
	var startDate = $("#start-date").val();
	var endDate = $("#end-date").val();

	// check input
	if (model === "" || startDate === "" || endDate === "")
		return

	// TODO: date range check
	if (new Date(startDate) >= new Date(endDate)) {
		alert("잘못된 날짜 범위입니다.")
		return
	}

	var params = { "model": model, "start_date": startDate, "end_date": endDate };

	load_returns(params);
	load_revenue_rank(params);
}

window.onresize = function () {
	Plotly.Plots.resize(graphReturns);
};

$(document).ready(function() {
	activateMenu("navBacktest")

  // select box
  $('select').formSelect();

  // date picker
  var options = {
		format: 'yyyy/mm/dd',
		autoClose: true,
		setDefaultDate: true,
		parse: function (s) { return new Date(s); },
		onSelect: function (v) { console.log(v); },
		onClose: function () { load_data(); },
		yearRange: [2012, 2019],
		minDate: new Date(2012,0,1),
		maxDate: new Date(2019,0,1)}

  // $('.datepicker').datepicker(options);

	options.defaultDate = options.minDate
  $('#start-date').datepicker(options)

	options.defaultDate = options.maxDate
  $('#end-date').datepicker(options)

  // collapsibles
	$('.collapsible').collapsible({
		accordion: false,
		onOpenEnd: function (l) {
			var graphDict = {}
			graphDict['li-returns'] = graphReturns;
			graphDict['li-weights'] = graphWeights;
			graphDict['li-revenue-rank'] = graphRevenueRank;
			graphDict['li-single-stock'] = graphSingleStock;
			Plotly.Plots.resize(graphDict[l.id]);
		}
	});

	// 
	load_data()
});

document.addEventListener('DOMContentLoaded', function() {
  var options = {
		format: 'yyyy/mm/dd',
		autoClose: true,
		setDefaultDate: true,
		parse: function (s) { return new Date(s); },
		onSelect: function (v) { console.log(v); },
		onClose: function () { load_data(); },
		yearRange: [2012, 2019],
		minDate: new Date(2012,0,1),
		maxDate: new Date(2019,0,1)}

  var elems = document.querySelectorAll('.datepicker');
  var instances = M.Datepicker.init(elems, options)
});

</script>

{% endblock %}
