<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta char="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="{% static 'model_a/css/theme.default.css' %}">
  <link rel="stylesheet" href="{% static 'model_a/css/materialize.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"></script>
  <script src="{% static 'model_a/js/jquery.tablesorter.js' %}"></script>
  <script src="{% static 'model_a/js/jquery.tablesorter.widgets.js' %}"></script>
  <script src="{% static 'model_a/js/table2csv.js' %}"></script>
  <!--script src="{% static 'model_a/js/bootstrap-datepicker.min.js' %}"></script-->
  <script src="{% static 'model_a/js/plotly-latest.min.js' %}"></script>

  <!-- Icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" href="{% static 'model_a/icon/favicon.ico' %}">

  <title>{% block title %}Home{% endblock %}</title>
</head>

<body>

<nav class="blue-grey darken-3">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">A.I. PLUS Lab</a>
    <ul class="right hide-on-med-and-down">
      <li class="nav-item" id="navIndex">
        <a class="nav-link" href="{% url 'model_a:index' %}">Home</a>
      </li>
      <li class="nav-item" id="navPredict">
        <a class="nav-link" href="{% url 'model_a:view_predict' %}">Model A</a>
      </li>
      <li class="nav-item" id="navBacktest">
        <a class="nav-link" href="{% url 'model_a:view_backtest' %}">Backtest</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  {% block content %}{% endblock %}
</div>

</body>

<script type="text/javascript">
function activateMenu(id) {
  var element, name, arr;
  element = document.getElementById(id);
  name = "active";
  arr = element.className.split(" ");
  if (arr.indexOf(name) == -1) {
    element.className += " " + name;
  }
}
</script>

{% block script %}{% endblock %}
