{% extends "model_a/base.html" %}

{% block title %}Model A{% endblock %}

{% block content %}
<main role="main">
</main>
{% endblock %}

{% block script %}

<script type="text/javascript">
$(document).ready(function() {
	activateMenu("navIndex")
});
  
</script>

{% endblock %}
