<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta char="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'model_a/starter-template.css' %}">
  -->

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">A.I. PLUS Lab</a>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container w-25" style="min-width: 480px">
<main role="main">
  <div class="jumbotron">
    <form method="POST" id="formLogin" action="{% url 'model_a:view_login' %}"> 
      {% csrf_token %}
      <label>SIGN IN</label>
      <div class="form-group">
        <label for="inputUserID">User ID</label>
        <input type="text" id="inputID" name="inputID" class="form-control" placeholder="Enter User ID" required autofocus>
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</main>
</div>

</body>

</html>
