{% extends "model_a/base.html" %}
{% load static %}

{% block title %}Model A{% endblock %}

{% block content %}
<main role="main">

<div id="modalDescription" class="modal">
  <div class="modal-content">
    <h5 class="modal-title" id="exampleModalCenterTitle">모델 설명</h5>
    <table class="table">
      <tr><th scop="row">종목</th><td>[<a href="#" target="_blank" id="linkUniverse">download</a>]</td></tr>
      <tr><th scop="row">백테스트</th><td>[<a href="#" target="_blank" id="linkBacktest">link</a>]</td></tr>
      <tr><th scop="row">학습기간</th><td id="tdTrainingDates"></td></tr>
      <tr><th scop="row">리밸런싱주기</th><td id="tdRebalancing"></td></tr>
      <tr><th scop="row">최대보유종목수</th><td id="tdMaxAssets"></td></tr>
      <tr><th scop="row">가능종목조건</th><td id="tdConditions"></td></tr>
    </table>
  </div>
</div>

<div style="display: none; visible: hidden">
  {% for model in models %}
  <span style="display: none;" id="desc_{{ model.name }}">{{ model.description }}</span>
  {% endfor %}
</div>

<br />
<div class="container">
  <form method="POST" id="formUpload" enctype="multipart/form-data" novalidate> 
    {% csrf_token %}
    <div class="row">
      <div class="input-field col s10">
        <select id="selectModel" required="True">
          <option value="" disabled selected>Select Model</option>
          {% for model in models %}
          <option value={{ model.name }}>{{ model.display }}</option>
          {% endfor %}
        </select>
        <label>Select Model</label>
      </div>
      <div class="input-field col s2">
        <a class="waves-effect waves-light btn-small" onclick="showModelDescription()">모델설명</a>
      </div>
    </div>
    <div class="row">
      <div class="file-field input-field col s12">
        <div class="waves-effect btn-small">
          <span>Select CSV</span>
          <input type="file" id="inputCsv" name="inputCsv" required="True">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input value="1,000,000,000" id="totalCapital" type="text" class="validate">
        <label for="totalCapital">Total amount of capital</label>
      </div>
      <div class="input-field col s4">
        <input value="30" id="maxCounts" type="text" class="validate">
        <label for="maxCounts">Max holdings</label>
      </div>
      <div class="input-field col s4">
        <input id='dateTarget' type="text" class="datepicker" />
        <label>Select Date</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="btn-small waves-effect waves-light" type="submit" name="action">Submit</button>
        <a class="wave-effect btn-small" id="btnExportCsv">Export CSV</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <table class="tablesorter" id="tblTargetPortfolio">
          <thead class="thead-dark">
            <tr>
              <th scope="col">code</th>
              <th scope="col">name</th>
              <th scope="col">close</th>
              <th scope="col">current volume</th>
              <th scope="col">current portion</th>
              <th scope="col">target volume</th>
              <th scope="col">target portion</th>
              <th scope="col">difference(volume)</th>
              <th scope="col">difference(portion)</th>
            </tr>
          </thead>
          <div data-spy="scroll" data-offset="0">
          <tbody data-spy="scroll">
          </tbody>
        </table>
        <div id="divProgress" class="center-align" style="display: none;">
          <img src="{% static 'model_a/icon/spinner.gif' %}" class="mx-auto d-block" />
        </div>
      </div>
    </div>
  </form>
</div>

<div id="modalError" class="modal">
  <div class="modal-content">
    <h5>Error:</h5>
    <h6><div id="divError"></div><h6>
  </div>
</div>

</main>
{% endblock %}

{% block script %}

<script type="text/javascript">
$(document).ready(function() {
  activateMenu("navPredict")

  $('select').formSelect();
  $('.modal').modal();

  // date picker
  var options = {
    format: 'yyyy-mm-dd',
    autoClose: true,
    setDefaultDate: true,
    defaultDate: new Date(),
    parse: function (s) { return new Date(s); }
  }

  $('.datepicker').datepicker(options);

  $('table').tablesorter({
    widgets: ['zebra', 'columns'],
    sortReset: true,
    sortRestart: true
  });

  $("#btnExportCsv").click(function(){
    $("#tblTargetPortfolio").table2csv('output', {appendTo: '#out'});
    $("#tblTargetPortfolio").table2csv('download', {filename: 'target_portfolio.csv'});
  })

  $('#divDateTarget').datepicker({
        autoclose: true,
        format: 'yyyy-mm-dd'
  });

  $('#divProgress').hide()
});


// function onSubmit(data) {
$('#formUpload').submit(function (event) {
  event.preventDefault();

  var model = $("#selectModel option:selected").val();
  if (model == "")
    return

  console.log('submit')
  var form = $('form')[0];
  var form_data = new FormData(form);
  form_data.append('selectModel', $("#selectModel option:selected").val());
  form_data.append('totalCapital', $("#totalCapital").val());
  form_data.append('targetDate', $("#dateTarget").val());
  form_data.append('maxCounts', $("#maxCounts").val());

  // clear table
  $("#tblTargetPortfolio > tbody:last").children().remove();
  var resort = true;
  $('table').trigger("update", [resort]);

  $('#divProgress').show()

  $.ajax({
    url: "{% url 'model_a:api_target_portfolio' %}",
    type: "POST",
    data: form_data,
    processData: false,
    contentType: false,
    success: function (data, textStatus, jqXHR) {
      $('#divProgress').hide()
      try {
        var jsonData = JSON.parse(data);
        drawTable(jsonData.rows);
      }
      catch (e) {
        var error = JSON.parse(data)
        console.log(error)
        $("#divError").text(error.error)
        $("#modalError").modal("open")
        // alert(error.error);
      }
    }
  });
})


function drawTable(data) {
  $("#tblTargetPortfolio > tbody:last").children().remove();
  for (var i = 0; i < data.length; i++) {
    drawRow(data[i]);
  }

  var resort = true;
  $('table').trigger("update", [resort]);
}


function drawRow(rowData) {
  var row = $("<tr/>")
  $("#tblTargetPortfolio").append(row);
  row.append($("<td>" + rowData.code + "</td>"))
  row.append($("<td>" + rowData.name + "</td>"))
  row.append($("<td>" + rowData.close + "</td>"))
  row.append($("<td>" + rowData.current_volume + "</td>"))
  row.append($("<td>" + rowData.current_portion.toFixed(4) + "</td>"))
  row.append($("<td>" + rowData.target_volume + "</td>"))
  row.append($("<td>" + rowData.target_portion.toFixed(4) + "</td>"))
  row.append($("<td>" + (rowData.target_volume - rowData.current_volume) + "</td>"))
  row.append($("<td>" + (rowData.target_portion - rowData.current_portion).toFixed(4) + "</td>"))
}


function exportTableToCSV() {
  function f($table, filename) {
    var $rows = $table.find('tr')
    var colDelim = '","'
    var rowDelim = '"\r\n"'
    var csv = '"' + $rows.map(function (i, row) {
      var $row = $(row)
      var $cols = $row.find('th,td')
  
      return $cols.map(function (i, col) {
        var $col = $(col)
        var text = $col.text();
        return text.replace(/"/g, '""');
      }).get().join(colDelim);
    }).get().join(rowDelim) + '"';
  
    if (window.Blob && window.URL) {
      var blob = new Blob([csv], { type: 'text/csv;charset=utf-8' });
      var csvUrl = URL.createObjectURL(blob);

      var downloadLink = document.createElement("a");
      downloadLink.href = csvUrl
      downloadLink.download = filename

      document.body.appendChild(downloadLink)
      downloadLink.click();
      document.body.removeChild(downloadLink)
    } else {
      var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

      var downloadLink = document.createElement("a");
      downloadLink.href = csvUrl
      downloadLink.download = filename

      document.body.appendChild(downloadLink)
      downloadLink.click();
      document.body.removeChild(downloadLink)
    }
  }

  f($('#tblTargetPortfolio'), 'export.csv');
}


function showModelDescription() {
  var model = $("#selectModel option:selected").val();
  if (model == "") {
    alert("모델을 선택하세요.")
    return
  }

  var desc_elem = $('#desc_ver_0_1')
  var desc = desc_elem.text()
  console.log(desc)

  var desc_elem = $('#desc_' + model)
  var desc = desc_elem.text()
  console.log(desc)

  var data = JSON.parse(desc)
  //'{"universe": "https://www.naver.com", "backtest": "https://www.google.co.kr", "description": "주1회 리밸런싱. <br/> 최대 30종목 보유."}')
  console.log(data)

  var linkUniverse = document.createElement('a')

  $("#linkUniverse").attr("href", data.universe)
  $("#linkBacktest").attr("href", data.backtest)
  $("#tdTrainingDates").text(data.training_dates)
  $("#tdRebalancing").text(data.rebalancing)
  $("#tdMaxAssets").text(data.max_assets)
  $("#tdConditions").text(data.conditions)

  $("#modalDescription").modal("open")
}
  
</script>
{% endblock %}

